.app__header {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 60px;
  column-gap: 20px;
}

.home__track {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link__track {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  :first-child {
    margin-left: 0;
  }
}

.language__track {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  :first-child {
    margin-left: 0;
  }
}

.item {
  width: 30px;
  margin-left: 10px;
}

.icon {
  width: 100%;
}